body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #f4f4f4;
  font-family: Arial, sans-serif;
}

.calculator {
  background: #e70f0f;
  padding: 20px;
  border-radius: 10px;
  width: 250px;
}

#display {
  width: 100%;
  height: 50px;
  margin-bottom: 15px;
  text-align: right;
  font-size: 22px;
  padding-right: 10px;
  border: none;
  border-radius: 5px;
}

.buttons {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 10px;
}

button {
  height: 50px;
  font-size: 18px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  background-color: #555;
  color: white;
}

.equal {
  background-color: orange;
  color: white;
}

.clear {
  background-color: red;
  color: white;
}
